.border {
    border : 1px solid black;
    background-color: white;
    border-radius: 5px;
}
div.info{
    background-color: rgb(214, 214, 214);
    border : 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 5px;
}
button.basket{
    background-color: white;
    border: none;
    border-radius : 4px;
    color: black;
    padding: 5px 15px;
    margin : 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button.clear{
    background-color: white;
    border: none;
    border-radius : 4px;
    color: black;
    padding: 5px 15px;
    margin : 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.tableStyle table{
    border: 1px solid black;
    border-collapse: collapse !important;
    width: 100%;
}
.tableStyle th{
    border: 1px solid black;
    border-collapse: collapse !important;
    width: 100%;
    color : white;
    background-color: rgb(204, 88, 53);
}
.tableStyle td{
    border: 1px solid black;
    border-collapse: collapse !important;
    width: 100%;
}

h4{
    margin-top:2px;
    margin-bottom:2px; 
}
button.basket:hover{
    background-color: rgb(163, 68, 39);
    color: white;
}
button.clear:hover{
    background-color: rgb(204, 88, 53);
    color: white;
}
li{
    color:black !important;
    text-align: left !important;
}
@media(min-width:720px){
    div.sideRight{
        margin-right : 15px !important;
    }
    div.sideLeft{
        margin-left : 15px !important;
    }
}