.border {
    border : 1px solid black;
    background-color: white;
    border-radius: 5px;
}
div.info{
    background-color: rgb(214, 214, 214);
    border : 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 5px;
}
button.clear{
    background-color: white;
    border: none;
    color: black;
    padding: 5px 15px;
    margin : 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h4{
    margin-top:2px;
    margin-bottom:2px; 
}
button.clear:hover{
    background-color: rgb(204, 88, 53);
    color: white;
}
li{
    color:white !important;
    text-align: left !important;
}
@media(min-width:720px){
    div.sideRight{
        margin-right : 15px !important;
    }
    div.sideLeft{
        margin-left : 15px !important;
    }
}